@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('http://fonts.cdnfonts.com/css/sf-ui-display');

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Open+Sans&display=swap');



@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {


    .icon {
        @apply h-6 w-6 mr-1 hover:scale-125 transform transition duration-200
    }
    .dark{
        @apply bg-black text-white border-gray-800 
    }
    .light{
        @apply bg-gray-100 text-black border-gray-300 
    }

    .header
    {
        @apply font-bold p-1 text-xl mt-10
    }
     
    .para
    {
        @apply pb-3
    }


    
    .partitioned {
            
        padding-left: 15px;
        padding-bottom: 5px;
        letter-spacing: 41px;
        border: 0;
        background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 50px 1px;
        background-repeat: repeat-x;
        background-position-x: 35px;
        width: 275px;
        outline: none;
    }


    .divInner {
        left: 0;
        position: sticky;
    }
    
    .divOuter {
        width: 240px;
        overflow: hidden;
    }
 

    
    
}